# JWT 的密钥, 用于加密和解密 JWT 令牌
SECRET_KEY = "XXXXXX"
BCRYPT_SALT = "XXXXXXXX"

# 唯一ID
REGION = "beijing"
# 服务器配置
SERVER_HOST = "10.32.12.xxx"
SERVER_PORT = 6783

# MongoDB 的配置, 用于连接 MongoDB 数据库
# MONGO_DB_AUTH_SOURCE 默认为 admin
MONGO_DB_HOST = "10.32.12.110"
MONGO_DB_PORT = 27017
MONGO_DB_USER = "user"
MONGO_DB_PASSWD = "passwd"
MONGO_DB_NAME = "crosstorage"
MONGO_DB_AUTH_SOURCE = "admin"

REDIS_HOST = "10.32.12.110"
REDIS_PORT = 6379
REDIS_DB = 0
REDIS_PASSWORD = "passwd"

MINIO_HOST = "localhost"
MINIO_PORT = 9000
MINIO_ACCESS_KEY = "admin"
MINIO_SECRET_KEY = "passwd"

USER_INFO_URL = "http://tl.cooacloud.com/springboard_v3/get_user_from_itcode"