# JWT 的密钥, 用于加密和解密 JWT 令牌
# 需要全局保持一致
SECRET_KEY = "XXXXXX"
BCRYPT_SALT = "XXXXXXXX"

# 唯一ID
# 需要每个地区保证不同
REGION = "beijing"

# 服务器配置， 需要将网络的情况暴露到接口，用于节点间标记对方身份
SERVER_HOST = "10.32.12.0"
SERVER_PORT = 6783

# MongoDB, Redis, Minio 都只在本地访问，不暴露到网络
# MongoDB 的配置, 用于连接 MongoDB 数据库
# MONGO_DB_AUTH_SOURCE 默认为 admin
MONGO_DB_HOST = "localhost"
MONGO_DB_PORT = 27017
MONGO_DB_USER = "user"
MONGO_DB_PASSWD = "passwd"
MONGO_DB_NAME = "storagent_dev"
MONGO_DB_AUTH_SOURCE = "admin"

# Etcd
ETCD_HOST = "localhost"
ETCD_PORT = 2379
ETCD_USERNAME = "admin"
ETCD_PASSWORD = "passwd"

MINIO_HOST = "localhost"
MINIO_PORT = 9000
MINIO_ACCESS_KEY = "admin"
MINIO_SECRET_KEY = "passwd"

USER_INFO_URL = "http://tl.cooacloud.com/springboard_v3/get_user_from_itcode"