beanie==1.30.0
fastapi==0.115.14
pydantic==2.11.7
pydantic-settings==2.10.1
loguru==0.7.3
uvicorn==0.38.0
email-validator==2.3.0
watchfiles==1.1.1
python-multipart==0.0.20
python-jose[cryptography]==3.5.0
bcrypt==5.0.0
requests==2.32.5
minio==7.2.20
motor==3.7.1
python-dotenv==1.1.1
aetcd==1.0.0rc3
